FIELD_ENCRYPTION_KEY=ExampleEncryptionKey1234567890=

DEBUG=True
SECRET_KEY=django-insecure-!@#%$^&*()_+1234567890
ALLOWED_HOSTS=localhost,

DB_NAME=denso_db
DB_USER=denso_user
DB_PASSWORD=denso_password
DB_HOST=localhost
DB_PORT=5432

VECTOR_DB_NAME=vector_db
VECTOR_DB_USER=vector_user
VECTOR_DB_PASSWORD=vector_password
VECTOR_DB_HOST=localhost
VECTOR_DB_PORT=5432